<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">
            <span class="mr-3"><strong class="text-white">Phone:</strong> <a href="tel://#">+63 956 710 5936</a></span>
            <span><strong class="text-white">Email:</strong> <a href="#">mayiiemagalona@gmail.com</a></span>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="social-media">
            <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
    </div> 
        
  </footer>

