<section class="site-section" id="skills-section">
    <div class="container">
        <div class="row mb-5 justify-content-center" id="skills">
          <div class="col-md-8 text-center">
            <h2 class="text-black h1 site-section-heading text-center">Skills</h2>
            <p class="lead"></p>
          </div>
        </div>
      </div>
<div class="container__skills">
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/html-logo.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    HTML
                </div>
            </div>
            <div class="element__body">
                Knowledge of structure HTML document, abilitty to use semantic tags
            </div>
        </div>
    </div>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/css3-logo.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    CSS
                </div>
            </div>
            <div class="element__body">
                Smooth movement in css, no difficulties in creating Responsive Web Design templates, Abilitty to use css preprocessor (Sass), Knowledge of flex box, basic estethic feel, creativity in creating
            </div>
        </div>
    </div>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/javascript-logo.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    JavaScript
                </div>
            </div>
            <div class="element__body">
                Knowledge of ES6, knowledge of React, knowledge of JavaScript mechanisms such as: hoisting, closures, scope, DOM tree manipulation, knowledge of IIFE function, knowledge of AJAX 
            </div>
        </div>
    </div>
    <!-- <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/react-logo.svg" alt="ikona">
                <div class="head__title">
                    React
                </div>
            </div>
            <div class="element__body">
                Redux, creating forms with Formik + Yup, communication with API using AJAX and Axios, React - Router, 
                JSON, styling components with css-in-js approach using Styled Components library, operating GraphQL queries with Apollo Client, practical knowledge of Antd
            </div>
        </div>
    </div> -->
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/angular-logo.png" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    NodeJS
                </div>
            </div>
            <div class="element__body">
                Knowledge of NodeJS, knowledge of ExpressJS, creating REST API, data validation on server side using Express-validator library, knowledge of GraphQL 
            </div>
        </div>
    </div>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/database.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    Databases
                </div>
            </div>
            <div class="element__body">
                Knowledge of relational database PostgreSQL and his ORM Sequelize, basic knowledge of MongoDB and Mongoose
            </div>
        </div>
    </div>
</div>
</section>