<section class="site-section" id="skills-section">
    <div class="container">
        <div class="row mb-5 justify-content-center" id="skills">
          <div class="col-md-8 text-center">
            <h2 class="text-black h1 site-section-heading text-center">Skills</h2>
            <p class="lead"></p>
          </div>
        </div>
      </div>
<div class="container__skills">
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/html-logo.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    HTML
                </div>
            </div>
            <div class="element__body">
                Knowledge of structure HTML document, abilitty to use semantic tags
            </div>
        </div>
    </div><br>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/css3-logo.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    CSS
                </div>
            </div>
            <div class="element__body">
                Smooth movement in css, no difficulties in creating Responsive Web Design templates. Knowledge of flex box, basic estethic feel, creativity in creating
            </div>
        </div>
    </div><br>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/javascript-logo.svg" alt="ikona" class="imgage-skill javascript">
                <div class="head__title">
                    JavaScript
                </div>
            </div>
            <div class="element__body">
                Knowledge of the basic fundamentals of JavaScript concepts from Code Structure to manipulating Document Object Model(DOM).
            </div>
        </div>
    </div><br>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/angular-logo.png" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    AngularJS
                </div>
            </div>
            <div class="element__body">
                In creating this website I used AngularJS with existing templates. Knowledge of the basic fundamentals of Angular from creating components to routing.
            </div>
        </div>
    </div><br>
    <div class="skills__box">
        <div class="box__element">
            <div class="element__head">
                <img src="./assets/images/database.svg" alt="ikona" class="imgage-skill">
                <div class="head__title">
                    Databases
                </div>
            </div>
            <div class="element__body">
                On my previous project I used phpMyAdmin to store the data in database. I have been created table, input data inside the table.
            </div>
        </div>
    </div>
</div>
</section>