<section class="site-section" id="resume-section">
  <div class="container">
    <div class="row mb-5 justify-content-center" id="resume">
      <div class="col-md-8 text-center">
        <h2 class="text-black h1 site-section-heading text-center">Resume</h2>
        <p class="lead"></p>
      </div>
    </div>
  </div>
<div class="container-fluid blue-bg">
  <div class="container">
    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center bottom">
        <div class="circle">1</div>
      </div>
      <div class="col-6 first">
        <h3>Experience</h3>
        <h5>Front End Web Developer Intern (Aug 2019 - Mar 2020)</h5>
        <p>Ultimate Builders Support System Inc.</p>
        <ul>
          <li>Designs and develop web application to solve
            the manual checking of the draftsman</li>
          <li>Modifies code to fixed errorss</li>
        </ul>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-6 text-right">
        <h3>Educational Training</h3>
        <h5>University of San Carlos</h5>
        <p>Certificate of Computer Technology Major in Web Development</p>
        <ul>
          <li>Enrolled since Nov. 2017 to May 2020</li>
          <li>Specializing in Front End
            Development to broaden skill set.</li>
        </ul>
      </div>
      <div class="col-2 text-center full">
        <div class="circle">2</div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center top">
        <div class="circle">3</div>
      </div>
      <div class="col-6">
        <h5>Now with Pug and Sass</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
      </div>
    </div>
  </div>
</div>


<!-- HOBBIES DRI -->

    <!-- <div class="container">
      <div class="row mb-5 justify-content-center" id="hobby">
        <div class="col-md-8 text-center">
          <h2 class="text-black h1 site-section-heading text-center">HOBBIES &amp; INTERESTS</h2>
          <p class="lead">Things I do to refresh my mind</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="./assets/images/img_1.jpg" class="media-1" data-fancybox="gallery">
            <img src="./assets/images/img_1.jpg" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Volleyball</h2>
              <span class="category">Web Application</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="./assets/images/img_2.jpg" class="media-1" data-fancybox="gallery">
            <img src="./assets/images/img_2.jpg" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Table Tennis</h2>
              <span class="category">Branding</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="./assets/images/img_3.jpg" class="media-1" data-fancybox="gallery">
            <img src="./assets/images/img_3.jpg" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2></h2>
              <span class="category">Website</span>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-4">
          <a href="./assets/images/img_4.jpg" class="media-1" data-fancybox="gallery">
            <img src="./assets/images/img_4.jpg" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>BlankPink</h2>
              <span class="category">Web Application</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="./assets/images/img_5.jpg" class="media-1" data-fancybox="gallery">
            <img src="./assets/images/img_5.jpg" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Handy Food</h2>
              <span class="category">Branding</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="./assets/images/img_6.jpg" class="media-1" data-fancybox="gallery">
            <img src="./assets/images/img_6.jpg" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Friends</h2>
              <span class="category">Website</span>
            </div>
          </a>
        </div>

       
      </div>
    </div> -->
  </section>

